body{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    line-height:20px;
    font-family:'Source Sans Pro', sans-serif; 
/*    margin-top: 150px;*/
    width: 100%;
    overflow-x: hidden;
}

header{
/*    position: fixed;*/
/*    top: 0px;*/
    width: 100%;
    z-index:10;
    box-shadow:2px 0px 5px 1px black;
}

*{box-sizing: border-box;}

section .container{
    padding: 40px 0px;
}
#top_header{
    background-color:#E79800;
    color: white;
    font-size: 14px;
}

#callUs{
    padding:10px 15px 8px;
    font-style: normal;
    font-weight: normal;
}

#top_header ul,#main_nav ul{
    float:right;
/*    vertical-align: middle;*/
}
.fa{
    margin-right:5px;
}
#top_header li a{
    color: white;
    text-transform: capitalize;
    padding:10px 12px 8px;
}
#top_header li a:hover{
    background-color: transparent;
    text-decoration: underline;
}
#main_header{
    background-color: white;
}

#main_header .logo{
    padding: 10px 0px;
}
#main_nav ul{
    font-size: 14px;
    height:inherit;
    padding: 30px 0px;
}

#main_nav ul li a{
    color:#666666;
    font-weight:900;
    text-transform:uppercase;
}

#main_nav li a:hover,#main_nav ul li .active,#main_nav ul li a:active{
    background-color:#e79800;
    color:white;
    text-decoration: none;
}
#main_nav ul li .open {
    outline:none;
    border:none;
}
#main_nav .dropdown-menu{
    padding:10px 0px;
}



/*courses section css*/

#courses .container{
    padding:0px;
}

.courses_list{
    padding: 40px 0px 0px;
}

#courses h2{
    font-size:30px;
    color: #2f2f2f;
    margin-bottom: 20px;
    position: relative;
}
.border_below:before{ 
    content: "";
    left:0;
    bottom:-8px;
    height:2px;
    width:25px;
    margin: auto;
    background-color: #666666;
    position: absolute;
}

.border_below:after{
    content: "";
    left: 35px;
    bottom:-8px;
    height: 1px;
    width:50px;
    margin: auto;
    background-color: #bbbbbb;
    position: absolute;
}


.border_below_center:before{
    left: 47%;
    bottom:10px;
}
.border_below_center:after
{left: 50%;
bottom: 10px;}

.border_below_center_col6:before{
    left: 46%;
    bottom: 10px;
}
.border_below_center_col6:after{
    bottom: 10px;
    left:51%;
}

#courses .row{
    margin-bottom:15px;
}
#courses .col-xs-6{
/*    margin: 0px;*/
/*    padding: 0px;*/
}
.course_box{
    margin-right:20px;
    padding:20px 0px; 
    border-right: 3px;
    border-right-style: solid;
    border-color:black;
    background-color: #f8f8f8;
    vertical-align: middle;
}

.dropdown-menu{
    padding:0px;
}
.dropdown-menu li a{
    padding:10px 0px;
}
.dropdown-menu ul{
    padding:0px 10px;
}
.dropdown-menu li a:hover{
    background-color:transparent;
}
.course_box h3{
    font-size: 20px;
}

.course_box p{
    line-height:30px;
}
.course_box .course_icon{
    padding:10px 20px;
    
}
.course_box .fa{
    font-size:45px;
    font-weight: normal;
}

.course_box p{
    margin: 10px 0px;
}

.green{
color: #10C45C;}
.bg_green{background-color: #10C45C;}


.red{
    color: #FC5F42;
}
.bg_red{background-color: #FC5F42; }
.blue{
    color: #45AEF4;
}
.bg_blue{
    background-color: #45AEF4;
}
.light_green{
    color: #24CCC0;
}
.bg_light_green{
    background-color: #24CCC0;
}
.yellow{
    color: #F8C331;
}
.bg_yellow{
    background-color: #F8C331;
}

.purple{
    color: #AD33C6;
}
.bg_purple{
    background-color: #AD33C6;
}


.white{
    color: white;
}

#course_search{
    background-color:#F3F3F3;
}

#contact{
    padding-bottom: 20px;
    padding-top:20px; 
}

#contact,#contact h5 ,#contact ul li a{
    background-color: black;
    color: white;
}

#contact h5{
    padding:10px 0px;
}
#contact ul li{
/*    list-style:circle;*/
    padding:15px 0px 5px 15px;
    position: relative;
    
}

#contact ul li a::before{
    content:">";
    vertical-align: middle;
    color:white;
    left:0px;
    position:absolute;
    width:2px;
    height:2px;
    display:inline-block;
}

.center{
    text-align:center;
}

#plans{
    background-color: #F3F3F3;
}
.plan_header{
    margin-bottom:20px;
}

.plan_desc{
    background-color:white;
    margin-right:15px;
    margin-top: 10px;
}

.plan_desc *{
    margin:30px 0px;
}

.plan_price{
    background-color:#F8F8F8;
    padding:20px 0px;
    margin:0px;
}

.plan_desc h4{
    padding:20px 0px;
    margin:0px
}
.plan_price i,.plan_price h3,.plan_desc hr{
    margin:0px;
    padding:5px;
}

.plan_desc hr{
    padding:0px; 
}
.plan_price i{
    margin: 0px;
    margin-right:5px;
}
.plan_desc button{
    margin:10px;
}
.plan_desc .subscribe{
    text-transform:uppercase;
    font-weight:bold;
}

h1,h2,h3,h4,h5,h6{
    color: #2f2f2f;
}

/* welcome css */

#welcome{
    background-color: #F8F8F8;
}
#welcome .header{
    padding:0px 5%;
}

#welcome .welcome_image img{
    width: 100%;
    height: 100%;
}

#welcome .welcome_image{
    padding: 0px;
}
#welcome .row{
    display: flex;
} 

#welcome .row .col-xs-6{
    flex:1;
}
#welcome .header h3{
     text-align: center;
     font-size:30px;
    line-height:40px;
     margin:40px 0px 20px;
    text-transform:uppercase;
}

.welcome_intro .welcome_desc h6{
    padding:20px 0px;
    max-height:62px;
    text-align:center;
}
.welcome_desc p{
    text-align:center;
    line-height: 30px;
}

.welcome_desc a{
    width: 100%;
    display:block;
    text-align:center;
    margin: 30px 0px;
    font-weight:900;
    font-size:14px;
    text-transform: capitalize;
}



figure{
    position: relative;
}
figcaption{
    width:inherit;
    position:absolute;
    top:0px;
    left: 0px;
}

figcaption{
    color:white;
    display:none;
    background-color:transparent;
    font-weight:900;
    text-align:center;
    vertical-align:middle;
    font-size:20px;
    -webkit-transition:all 0.3s ease-in-out; 
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
}


figcaption a{
    align-self:center;
    opacity:0;
    display:flex;
    margin:auto;
    color:white;
}


figcaption a:hover{
    color:white;
}

figcaption a:visited{
    color: white;
}


.welcome_intro:hover figcaption,figure:hover figcaption{
    background-color:rgba(231,152,0,0.7);
    display:flex;
    opacity: 1;
}
figure:hover figcaption a{
    opacity:1;
}

.welcome_intro figcaption a{opacity: 1;}

.welcome_intro:hover .welcome_desc a,.welcome_intro:hover .welcome_desc h6{
    color:rgb(231,152,0);
}

.welcome_intro figure{
    margin-bottom:50px;
}





/*gallery css*/

.gallery-section{
    
}

.gallery-section .gallery .col-md-3,.gallery .col-sm-4 ,.gallery .co-xs-12{
  padding: 0px;   
}
.gallery img{
    max-height: 350px;
}
.gallery-section .header{
   padding-bottom:0px; 
}



.btn-box{
    padding: 10px 20px;
    color: white;
    border: 1px solid white;
    display: inline-block;
    background-color: inherit;
}

.btn-box:hover{
    background-color: black;
}



/*our course css*/

.our_course_box{
    border:1px solid #e2e2e2;
}

.our_course_desc{
    position:relative;
}

.our_course_desc+span
{
    padding: 10px;
    background-color: red;
    border-radius: 100%;
    box-shadow: 1px 1px 10px 1px black;
    position:absolute;
    top:-10px;
    display:inline-block;
    right: 25px;
}


















#subscribe_mail{
    background-color: #E79800;
    padding: 30px 20px;
    color:white;
}

#subscribe_mail h5{
    padding: 10px 0px;
}

#subscribe_mail input:focus{
    box-shadow:1px 2px 2px black;
}

#subscribe_mail input,#subscribe_mail button{
    border:1.5px solid white;
    height:50px;
    color:white;
    vertical-align: middle;
    background-color: transparent;
}
#subscribe_mail button:hover{
    background-color: black;
    color:white;
    border: 1px solid black;
}
#subscribe_mail input[type=email]
{   width:80%;
    padding: 0px 10px;
    color: white;
}

#subscribe_mail button{
    width:20%;
    margin-left:-4px;
}




anim{
    transition: all 0.3s ease-in-out;
}








